<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <a href="javascript:WebSocketTest()">Run WebSocket</a>
        <div id="messages" style="height:200px;background:black;color:white;"></div>
        {{ request }}s
    <script type="text/javascript">
        var messageContainer = document.getElementById("messages");
        console.log(messageContainer);
        function WebSocketTest() {
            if ("WebSocket" in window) {
                console.log("IN");
                messageContainer.innerHTML = "WebSocket is supported by your Browser!";
                var ws = new WebSocket("ws://104.236.33.228:8888/?Id={{ request.session.name }}");
                ws.onopen = function() {
                    ws.send("Message to send");
                };
                ws.onmessage = function (evt) { 
                    var received_msg = evt.data;
                    messageContainer.innerHTML = received_msg;
                };
                ws.onclose = function() { 
                    messageContainer.innerHTML = "Connection is closed...";
                };
            } else {
                console.log("OUT");
                messageContainer.innerHTML = "WebSocket NOT supported by your Browser?";
            }
        }
        </script>
    </body>
</html>